<!DOCTYPE html>
<html>
  <head>
  	<title>Warren Chan - Software Engineer</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header id="main_navigation" class="clearfix">
    		<%= link_to "Warren Chan", root_path, class: "name" %>
    		<nav>
    			<%= link_to "Posts", posts_path %>
    			<%= link_to "Projects", projects_path %>
          <%= link_to "Resume", "/resume2.pdf" %>
          <%= link_to "Contact", new_contact_path %>

          <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% end %>
             
    		</nav>
    	</header>
       <% if notice %>
        <p class="notice"><%= notice %></p>
        <% elsif alert %>
       <p class="alert"><%= alert %></p>
      <% end %>

    <%= yield %>

    <footer id="main_footer">
            <p class="copyright">&copy; 2018 Troll Tech</p> 
            <nav>
            <a href="https://twitter.com/warrenkwchan" target='_blank'><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.linkedin.com/in/warren-chan-00431412b/" target='_blank'><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/warrenkwchan" target='_blank'><i class="fab fa-github"></i></a>
        </nav>
  </body>
</html>
